@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>
    MVC Html ve Tag Helpers Kullanımı
</h1>

<p>
    MVC ekranına Html elementleri oluşturmak için bize bu helper metotlarıyla yardımcı olur.
</p>

@Html.ActionLink("Anasayfa", "Index", "Home")

@Html.ActionLink("MVC01 Razor Syntax", "Index", "MVC01RazorSyntax")

<br />

<a href="/Home/Index/25">MVC Html ve Tag Helpers Kullanımı</a>
<br />
<a asp-action="Index" asp-controller="Home" asp-route-id="18">MVC Html ve Tag Helpers Kullanımı</a>
<br />
<a asp-action="Index" asp-controller="Home">Anasayfa</a>
<br />

<h3>
    Html CheckBox Oluşturma
</h3>

@Html.CheckBox("cbOnay") Kabul Ediyorum
<input id="cbOnay" name="cbOnay" type="checkbox" value="true">

<h3>
    Html TextBox Oluşturma
</h3>

@Html.TextBox("txtAd","text")
<input type="text" value="Ekranda veri giriş alanı oluştururuz" name="txtSoyad" />

<h3>
    Html Hidden(Gizli Element) Oluşturma
</h3>

@Html.Hidden("GizliElement", "Gizli Element ekranda görünmez")

<h3>Html Label Oluşturma</h3>

@Html.Label("lblAd","Html label Element")

<h3>Html TextArea (çok satırlı veri giriş kutusu) oluşturma</h3>

@Html.TextArea("txtAdres","Html TextArea (çok satırlı veri giriş kutusu) oluşturma")

<h3>Html Password Oluşturma</h3>
@Html.Password("txtPassword")
<hr />
<h3>Html Helpers ile Form Oluşturma</h3>

@using (Html.BeginForm()){
    <h5>Kullanıcı Adınız</h5>
    @Html.Editor("txtKullaniciAdi")
    <h5>Şifreniz</h5>
    @Html.Password("txtSifre")
    <br />
    <input type="submit" value="Giriş" />
}
<form action="/MVC02HtmlAndTagHelpers" method="post">
    <h5>
        Kullanıcı Adınız
    </h5>
    <input class="text-box single-line" id="txtKullaniciAdi" name="txtKullaniciAdi" type="text" value="">    <h5>
        Şifreniz
    </h5>
    <input id="txtSifre" name="txtSifre" type="password">
    <br>
    <input type="submit" value="Giriş">
</form>
<h3> MVC Tag Helpers Kullanarak Form Oluşturma</h3>
<br />
<form asp-action="Index" asp-controller="/MVC02HtmlAndTagHelpers" method="get">
    <input id="ara" name="ara" type="text" placeholder="Aranacak Kelime">
</form>

<h3>Listbox ve Dropdownlist Elementi Kullanımı</h3>

@{
    var kategoriler = new SelectListItem[]
                {
        new SelectListItem(){ Text = "Bilgisayar"},
        new SelectListItem(){ Text = "Elektronik"},
        new SelectListItem(){ Text = "Telefon"},
                };

    var htmlRawOrnek = "<b>Html Raw ile Ekrana Html İçerik Yazdırma</b>";

}

<h5>Listbox</h5>
@Html.ListBox("lbListe",kategoriler)
<h5>Dropdownlist</h5>
@Html.DropDownList("lbListe", kategoriler)
<h3>RadioButton Elementi Kullanımı</h3>
@Html.RadioButton("rbOnay", "Onaylıyorum") Sözleşmeyi Onaylıyorum

<h3>Html Raw ile Ekrana Html İçerik Yazdırma</h3>

@htmlRawOrnek
<hr />
@Html.Raw(htmlRawOrnek)
<hr />